{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/splash.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>I Find a Way</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Justin Kim
          </div>
          <div class="col-sm-4 text-pad">
            justinlyukim@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Los Angeles, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about creating solutions via programming</p>
        <p>I enjoy competing to push myself and others to be the best we can be</p>
        <p>Exploring coding, chess, cooking, & music</p>
        <p>Take a look through my journey to learn & achieve</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              FLL: City Shaper
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Summer-Fall 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I worked with my team to make a robot to accomplish the tasks in the challenge</p>
              <p>One thing we had to do was think on the fly in the competition</p>
              <ul>
                <li class="main-li">Problem: A rule clarification made our original plan less effective</li>
                <li class="sub-li">Step 1: We studied the rules again and through of other opportunities to score more points</li>
                <li class="sub-li">Step 2: We experimented with the lego pieces we had</li>
                <li class="sub-li">Step 3: We found out that we could make a device that pushed buildings to an objective</li>
                <li class="sub-li">Step 4: We rebuilt and recoded our robot</li>
                <li class="main-li">End result: We scored many more points than before. Even though we didn't win, it was a valuable learning experience for everyone involved</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
             Certificate Of Merit in Piano
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              June 2021-Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I practiced daily several pieces from different eras & artists</p>
              <p>I also worked on my piano theory and ability to read new songs</p>
              <ul>
                <li class="main-li">I had problems practicing daily so I:</li>
                <li class="sub-li">Created a daily schedule</li>
                <li class="sub-li">Used my phone to remind me to practice</li>
                <li class="main-li">This has given me great progress so far.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              USACO Bronze (and beyond)
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              June 2021-Present 
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I am practicing USACO coding problems to hopefully pass the first test, Bronze, this year.</p>
              <p>This activity has required me to learn a new programming language and think about how I solve problems in a different way.</p>
              <ul>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<!--
  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>

    <div class="row">
      <div class="col">

         Project 1 
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>

         Project 2 
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 2
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Jan 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>

        Project 3
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Project 3
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Sept 2018 - June 2019
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Here is what I did for this project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Step 1</li>
                <li class="sub-li">Step 2</li>
                <li class="main-li">I executed this</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
-->


  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards 
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              President's Award For Academic Exellence
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              From the Department of Education
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Here's what I did
            </div>
          </div>
        -->
        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-1.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Piano</h3>
            <p class="content-text">I enjoy breathing life into the songs that I play and adding my own creative note to them.</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-2.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">VEX</h3>
            <p class="content-text">VEX is a robotics program that I've tried out and enjoyed.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-3.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">The Beach</h3>
            <p class="content-text">I love the beach and ocean & am always fascinated by how unknown and mysterious it is.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">justinlyukim@gmail.com</span>
        </div>

        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/belugabcool</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
